html
{
  scroll-behavior: smooth;
  height: auto;
}

/* scrollbar */
body::-webkit-scrollbar {
  max-width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom,#5d9634,#5d9634 50%,	#476612 50%,	#476612);       /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #707f13 0%, #ffec00 46%, #215a06 100%);   /* цвет плашки */
  border-radius: 30px;       /* закругления плашки */
  background: linear-gradient(90deg, #707f13 0%, #ffec00 46%, #215a06 100%);   /* padding вокруг плашки */
}
/* Тело сайта */
body
{
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: url("Картинки и прочее/pattern.svg");
  padding: 0;
  margin: 0;
}

/* Шапка */

header
{
display: grid;
grid-template-rows: minmax(100px,200px) minmax(30px,auto);
background: rgba(45, 137, 42, 0.61);
color: #FFF;
}
.UP
{
display: flex;
grid-gap:50px;
justify-content: space-between;
align-items: center;
background: rgba(45, 137, 42, 0.61);
color: #FFF;
}

.head-down
{
  background-color: #195514;
  border: 1px solid #000;
  background: url("Картинки и прочее/pattern (2).svg");
}
.Right
{
  max-width: 100%;
}

#Log
{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
#NewYear
{
  max-width: 100%;
  max-height: 100%;
}

.Button1
{
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4em 2.9em;
  background: linear-gradient(to bottom,#5d9634,#5d9634 50%,	#476612 50%,	#476612);
  background-size: 100% 10px;
  background-position: 50% 50%;
  border-radius: 10px;
  box-shadow: inset #476612 0 -1px 1px, inset 0 1px 1px #5d9634, #476612 0 0 0 1px, #000 0 10px 15px -10px;
  transition: all .5s;
}
.Button1:hover
{
  background-size: 140% 100%, auto;
}
.Button1:active
{
  color: #ffdead;
  box-shadow: inset #FF0000 0 -1px 1px, inset 0 1px 1px #FF0000, #FF0000 0 0 0 1px, 0 10px 10px -9px #000;
}

a:link
 {
  font-family: cursive;
  font-size: 20px;
  color: #FFF;
  text-shadow: 0 -2px 2px #000000;
  text-decoration:  none;
  cursor: pointer;
}
a:visited
{
  color: #fff;
}
a:hover
{
  color: #F7FE00;
}
a:active
 {
  color: #FFAA00;
}

/* Подвал */
footer
{
display: grid;
grid-template-rows: 30px 50px;
background: url("Картинки и прочее/pattern (1).svg");
border-top: 1px inset #000;
color: #FFF;
flex-shrink: 0;
}
.DOWN
{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: nowrap;
align-content: flex-end;
align-items: flex-end;
height: auto;
background: url("Картинки и прочее/pattern (1).svg");
color: #FFF;
}
.foot-up
{
  background-color: #195514;
  border: 1px solid #000;
  background: url("Картинки и прочее/pattern (2).svg");
}


/* Основной контент */

.content
{
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Left
{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  max-height: 30%;
  max-width: 100%;
}

.main_block
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,auto));
  grid-gap: 10px;
  height: auto;
  background: url("Картинки и прочее/pattern (3).svg");
  border: 1px solid #000000;
  border-radius: 10px;
}

.list
{
  display: grid;
  grid-auto-rows: 1fr auto auto;
  justify-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 20px;
  background: #FFF;
}

#Img
{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.Desc
{
 padding: 10px;
}
.ButtonBuy
{
  position: relative;
  width: 100%;
  text-shadow: 0 -1px 1px #5d9634;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background: linear-gradient(157deg, #ff0000 0%, #fa5252 100%);
  border-radius: 20px;
  box-shadow: inset #476612 0 -1px 1px, inset 0 1px 1px #5d9634, #476612 0 0 0 1px, #000 0 10px 15px -10px;
  transition: all .5s;
}
.ButtonBuy:hover
{
  background-size: 140% 100%, auto;
}
.ButtonBuy:active
{
  top: 1px;
  color: #ffdead;
  box-shadow: inset #FF0000 0 -1px 1px, inset 0 1px 1px #FF0000, #FF0000 0 0 0 1px, 0 10px 10px -9px #000;
}
.ButtonBuy:not(:hover)
{
transition: all .5s;
}

.Buy
{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.About
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: url("Картинки и прочее/pattern (5).svg");
  border: 1px solid #000000;
  border-radius: 10px;
}

#ab
 {
  font-family: cursive;
  font-size: 20px;
  color: black;
  text-decoration:  none;
  cursor: pointer;
}

#ab:visited
{
  color: black;
}
#ab:hover
{
  color: #F7FE00;
}
#ab:active
{
 font-size:
   color: #FFAA00;
}

.Address
{
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto;
  background: url("Картинки и прочее/pattern (4).svg");
  border: 1px solid #000000;
  border-radius: 10px;
}
.Text
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Map
{
  margin: 20px;
}

#arrowTop
{
max-width: 100%;
max-height: 100%;
position: fixed;
right: 20px;
bottom: 30px;
cursor: pointer;
}

.News
{
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, auto);
  max-width: 100%;
  grid-gap: 20px;
  background: url("Картинки и прочее/pattern (6).svg");
  border: 1px solid #000000;
  border-radius: 10px;
}

.newsblock
{
    display: grid;
    grid-template-columns: minmax(100px,auto) minmax(100px,auto);
    border: 2px solid #000;
    border-radius: 10px;
    margin: 10px;
}
.Imgnews img
{
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.DescripNews
{
  font-size: 18px;
  font-family: sans-serif;
  display:flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-left: 50px;
  padding-right: 10px;
}

.Katalog
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  grid-gap: 20px;
  background: url("Картинки и прочее/pattern (6).svg");
  border: 1px solid #000000;
  border-radius: 10px;
}
.Katoblock_1
{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}
.Katoblock_2
{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.Katoblock_3
{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}

/* Медиа теги */
@media (max-whidth: 1200px)
{
  .content
  {
    max-width: 950px;
  }
}
@media (max-whidth: 950px)
{
  .content
  {
    max-width: 750px;
  }
}
@media (max-whidth: 760)
{
  .content
  {
    max-width: none;
  }
}
